@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Merriweather:ital,wght@0,700;1,400&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 :root {
    --bgSite: #d7d4ff;
    --buttonColor: #6c63ff;
  
    --white: #ffffff;
    --white300: #f9f9f9;
  
    --title: #2b2b2b;
    --text: #555555;
  }


  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
 
  button,
  input {
    border: 0;
  }
  button:focus,
  input:focus {
    border: 0;
  }


  header {
    display: flex;
    padding: 4rem 10%;
    align-items: center;
    background-color: #d7d4ff;
  }

  header h2 {
      font-size: 3.5rem;
  }

  header p {
      font-size: 12px;
      margin-top: 10px;
  }
  img {
      max-width: 100%;
      height: 200px;
      width: 500px;
     
  }

 .main-btn {
     background-color: var(--buttonColor);
     padding: 14px 50px;
     display: flex;
     color: var(--white300);
     border-radius: 4px;
     font-size: 2rem;
     margin-top: 20px;
     cursor: pointer;
 }

 .containerCards{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template: auto auto / auto auto auto;
    justify-content: center;
    align-items: center;
    
    gap: 50px 90px;
}

.containerCards h2 {
    text-align: center;
}
.containerCards p {
    font-size: 13px;
    text-align: center;
}
.cards{
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.100);

}

.card1A{
    background-color: #FF6363;
    height: 50%;
}
.card1B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}

.card2A{
    background-color: #63ECFF;
    height: 50%;
}
.card2B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}

.card3A{
    background-color: #F363FF;
    height: 50%;
}
.card3B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}

.card4A{
    background-color: #63FF73;
    height: 50%;
}
.card4B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}

.card5A{
    background-color: #FFDD63;
    height: 50%;
}
.card5B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}

.card6A{
    background-color: #6c63ff;
    height: 50%;
}
.card6B{
    background-color: var(--white);
    height: 50%;
    padding: 20px;
}


footer {
    background-color: #d7d4ff;
    margin-top: 6.6rem;
}

footer h2 {
    text-align: center;
    font-size: 3.5rem;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 10px 100px;
     margin: 0 auto;
    border-radius: 4px;
    text-align: center;
}

textarea {
 display: block;
 margin: 0 auto;
 border-radius: 6px;
 border: none;
 font-size: 13.6px;
text-align: center;
}

.main-btnn {
    background-color: var(--buttonColor);
    padding: 14px 60px;
    display: block;
    color: var(--white300);
    border-radius: 4px;
    font-size: 2rem;
    cursor: pointer;
    margin: auto;

}